# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- checkout: self
  fetchDepth: 0
- task: UseDotNet@2
  displayName: Install Dotnet sdk
  inputs:
    packageType: 'sdk'
    version: '6.x'
- task: NuGetToolInstaller@1
  displayName: NuGetToolInstaller

- task: NuGetCommand@2
  displayName: restoreSolution
  inputs:
    restoreSolution: '$(solution)'

- task: SonarCloudPrepare@4
  inputs:
    SonarQube: 'SonarQubeCloudServiceConnection'
    organization: 'mansigandhi456'
    scannerMode: 'dotnet'
    dotnetScannerVersion: '11.x'
    projectKey: 'mansigandhi456_serverlesscompute'
    projectName: 'serverlesscompute'
- task: VSBuild@1
  displayName: Build, package and Zip artifacts 
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: SonarQubeAnalyze@8
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'

- task: SonarCloudPublish@4
  inputs:
    pollingTimeoutSec: '300'
- task: VSTest@2
  displayName: Build test projects
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
